<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'SharedStars Home' }) %>

  <body class="bg-black overflow-x-hidden">

    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 left-0 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 left-0 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 left-20 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 left-20 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 -left-10 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute bottom-0 -left-10 -z-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>

    <img src="/public/images/ShatteredStars.png" class="absolute top-0 -right-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-0 -right-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-10 -right-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-10 -right-10 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-14 -right-32 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-14 -right-32 w-[500px] h-[300px] bg-contain bg-no-repeat"></img>

    <img src="/public/images/ShatteredStars.png" class="absolute top-24 right-[545px] w-[400px] h-[400px] bg-contain bg-no-repeat rotate-[40deg]"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-12 right-[545px] w-[400px] h-[400px] bg-contain bg-no-repeat rotate-[220deg]"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-28 right-[545px] w-[400px] h-[400px] bg-contain bg-no-repeat rotate-[220deg]"></img>
    <img src="/public/images/ShatteredStars.png" class="absolute top-28 right-[545px] w-[400px] h-[400px] bg-contain bg-no-repeat rotate-[220deg]"></img>
  
   
  <%- include('../partials/header') %>

  <!-- Background Glow Effects -->    <!-- Glowing Lines -->
    <div class="absolute bottom-0 left-0 w-full h-full pointer-events-none">
      <div class="absolute -bottom-32 left-64 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
      <div class="absolute -bottom-32 left-64 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
      <div class="absolute -bottom-32 left-16 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
      <div class="absolute -bottom-32 left-16 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
    </div>
   
    <div class="absolute top-0 right-0 w-full h-full pointer-events-none overflow-x-hidden">
      <div class="absolute -top-32 right-64 w-2 h-[500px] bg-brand-600 blur-[60px] rotate-[55deg]"></div>
      <div class="absolute -top-32 right-64 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
      <div class="absolute -top-32 right-16 w-2 h-[500px] bg-brand-600 blur-[60px] rotate-[55deg]"></div>
      <div class="absolute -top-32 right-16 w-2 h-[500px] bg-brand-600 blur-[50px] rotate-[55deg]"></div>
    </div>

  <section class="h-[1024px]">
    <div class="flex flex-col items-center justify-between">
      <div class="w-[496px] mt-52 rounded-3xl bg-black border-white-100 border-2 items-center justify-between">
        <div class="flex flex-col items-center justify-between">
          <img src="/public/icons/Vector.png" class="w-[248px] h-[139px]" ></img>
          <image src="/public/icons/Logo (1).png" class="w-16 h-16"></image>
        </div>
        <div class="flex flex-col items-center justify-between">
          <p class="text-heading5 text-white my-8">Welcome back</p>
          
          <form action="/login" class="space-y-6 text-white" method="POST">
            <div class="w-[432px]">
              <input type="email" name="email" id="email" class="w-full form-control text-body-small-medium px-6 py-4 text-white-300 bg-black border-white-100 border-2 rounded-full bg-gradient-to-br from-black to-white-100"  placeholder="Email address"  required>
            </div>
            <div class="w-[432px]">
              <input type="password" name="password" id="password" placeholder="Password" class="w-full form-control text-body-small-medium px-6 py-4 text-white-300 bg-black border-white-100 border-2 rounded-full bg-gradient-to-br from-black to-white-100" required>
            </div>
            <div class="flex items-center justify-between w-[432px]">
              <div class="flex items-center space-x-2">
                <label class="flex items-center space-x-2 cursor-pointer">
                  <input type="checkbox" class="hidden peer">
                  <div class="w-6 h-6 border-2 border-blue-500 rounded-md flex items-center justify-center">
                      <image src="/public/icons/checker.png" alt="Checked" class="hidden peer-checked:visible"></image>
                  </div>
                  <span class="text-white text-body-small-medium transition-all duration-300">Remember me</span>
                </label>
              </div>
              <p class="text-white text-body-small-medium">Forgot Password?</p>
            </div>
            <button type="submit" class="w-full form-control text-body-xsmall-semibold px-6 py-4 text-white bg-brand-700 border-white-100 border-2 rounded-full ">Login</button>
        </form>
        <div class="flex flex-col items-center justify-between">
          <p class="text-white text-body-small-medium my-8">Don't have an account? <a href="/signup" class="text-blue-500">Sign up</a></p>
          <div class="flex items-center justify-between gap-3 w-[432px] mb-10">
            <button type="submit" class="w-full flex items-center justify-center form-control text-body-xsmall-semibold gap-2 px-4 py-4 text-white bg-black border-white-100 border-2 rounded-full bg-gradient-to-br from-black to-white-100">
              <img src="/public/icons/Google.png" alt="Google Logo" class="w-5 h-5"> 
              <span>Continue with Google</span>
            </button>
            <button type="submit" class="w-full flex items-center justify-center form-control text-body-xsmall-semibold gap-2 px-4 py-4 text-white bg-black border-white-100 border-2 rounded-full bg-gradient-to-br from-black to-white-100">
              <img src="/public/icons/Apple.png" alt="Google Logo" class="w-5 h-5"> 
              <span>Continue with Google</span>
            </button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
